<div class="me">
  <p><%= @question %></p>
  <p>- Me</p>
</div>
<div class="coach">
  <p><%= @answer %></p>
  <p>- Stupid Coach</p>
</div>
<div class="back">
  <%= link_to "BACK", ask_path %>
</div>

